In [38]:
import requests
import pandas as pd

url = "https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&starttime=2023-05-30&endtime=2023-05-31"

payload = {}
headers = {}

response = requests.request("GET", url, headers=headers, data=payload)

response = response.json()

In [39]:
len(response['features'])

258

In [40]:
features = response["features"]

In [41]:
features[1]

{'type': 'Feature',
 'properties': {'mag': 0.08,
  'place': '2km ESE of Mammoth Lakes, CA',
  'time': 1685489574240,
  'updated': 1685513291344,
  'tz': None,
  'url': 'https://earthquake.usgs.gov/earthquakes/eventpage/nc73891825',
  'detail': 'https://earthquake.usgs.gov/fdsnws/event/1/query?eventid=nc73891825&format=geojson',
  'felt': None,
  'cdi': None,
  'mmi': None,
  'alert': None,
  'status': 'reviewed',
  'tsunami': 0,
  'sig': 0,
  'net': 'nc',
  'code': '73891825',
  'ids': ',nc73891825,',
  'sources': ',nc,',
  'types': ',nearby-cities,origin,phase-data,scitech-link,',
  'nst': 9,
  'dmin': 0.03343,
  'rms': 0.02,
  'gap': 134,
  'magType': 'md',
  'type': 'earthquake',
  'title': 'M 0.1 - 2km ESE of Mammoth Lakes, CA'},
 'geometry': {'type': 'Point',
  'coordinates': [-118.9578333, 37.6301667, 5.19]},
 'id': 'nc73891825'}

In [42]:
def get_data(feature):
    return {
        'id': feature.get('id', None),
        'type': feature.get('type', None),
        'mag': feature.get('properties', {}).get('mag', None),
        'time': feature.get('properties', {}).get('time', None),
        'place': feature.get('properties', {}).get('place', None),
        'geometry_type': feature.get('geometry', {}).get('type', None),
        'longitude': feature.get('geometry', {}).get('coordinates', [None, None, None])[0],
        'latitude': feature.get('geometry', {}).get('coordinates', [None, None, None])[1],
        'depth': feature.get('geometry', {}).get('coordinates', [None, None, None])[2]
    }

In [43]:
data = [get_data(feature) for feature in features]
df = pd.DataFrame(data)

In [44]:
# import datetime
# date = datetime.datetime.fromtimestamp(1685389676384/1000)

In [45]:
df.head()

,id,type,mag,time,place,geometry_type,longitude,latitude,depth
0,ak0236wgmtnh,Feature,1.30,1685490903652,Central Alaska,Point,-148.692300,64.003800,5.90
1,nc73891825,Feature,0.08,1685489574240,"2km ESE of Mammoth Lakes, CA",Point,-118.957833,37.630167,5.19
2,ci40238375,Feature,1.01,1685489366000,"4km NW of Fontana, CA",Point,-117.485167,34.120667,18.44
3,nc73891820,Feature,0.09,1685488909070,"2km SE of Mammoth Lakes, CA",Point,-118.958833,37.624000,3.91
4,ci40238367,Feature,1.49,1685488856580,"4km NW of Boron, CA",Point,-117.680667,35.030833,0.26

In [46]:
df = df.dropna()

In [47]:
df = df[(df.type=="Feature") & (df.geometry_type=="Point")]

In [48]:
df = df.drop(["type", "geometry_type"], axis=1)

In [49]:
df.head()

,id,mag,time,place,longitude,latitude,depth
0,ak0236wgmtnh,1.30,1685490903652,Central Alaska,-148.692300,64.003800,5.90
1,nc73891825,0.08,1685489574240,"2km ESE of Mammoth Lakes, CA",-118.957833,37.630167,5.19
2,ci40238375,1.01,1685489366000,"4km NW of Fontana, CA",-117.485167,34.120667,18.44
3,nc73891820,0.09,1685488909070,"2km SE of Mammoth Lakes, CA",-118.958833,37.624000,3.91
4,ci40238367,1.49,1685488856580,"4km NW of Boron, CA",-117.680667,35.030833,0.26

In [50]:
df.time.max()

1685490903652

In [51]:
df

,id,mag,time,place,longitude,latitude,depth
0,ak0236wgmtnh,1.30,1685490903652,Central Alaska,-148.692300,64.003800,5.900000
1,nc73891825,0.08,1685489574240,"2km ESE of Mammoth Lakes, CA",-118.957833,37.630167,5.190000
2,ci40238375,1.01,1685489366000,"4km NW of Fontana, CA",-117.485167,34.120667,18.440000
3,nc73891820,0.09,1685488909070,"2km SE of Mammoth Lakes, CA",-118.958833,37.624000,3.910000
4,ci40238367,1.49,1685488856580,"4km NW of Boron, CA",-117.680667,35.030833,0.260000
...,...,...,...,...,...,...,...
253,tx2023kmhj,2.00,1685407361643,"37 km NNW of Toyah, Texas",-103.988987,31.611960,8.599536
254,av91775267,-1.01,1685407006740,"60 km ENE of Pedro Bay, Alaska",-153.119333,60.000833,1.420000
255,av91775262,-0.59,1685406620460,"64 km ENE of Pedro Bay, Alaska",-153.057000,60.029833,3.060000
256,nn00860533,0.90,1685406092786,California-Nevada border region,-119.702700,38.827800,7.100000
257,ak0236w2mbce,1.00,1685404880143,"38 km N of Petersville, Alaska",-150.721800,62.842700,87.900000