In [1]:
import requests
import pandas as pd

url = "https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&starttime=2023-05-29&endtime=2023-05-30"

payload = {}
headers = {}

response = requests.request("GET", url, headers=headers, data=payload)

response = response.json()

In [2]:
len(response['features'])

183

In [3]:
features = response["features"]

In [26]:
features[1]

{'type': 'Feature',
 'properties': {'mag': 1.34,
  'place': '9km N of North Shore, CA',
  'time': 1685390010270,
  'updated': 1685390219210,
  'tz': None,
  'url': 'https://earthquake.usgs.gov/earthquakes/eventpage/ci40237079',
  'detail': 'https://earthquake.usgs.gov/fdsnws/event/1/query?eventid=ci40237079&format=geojson',
  'felt': None,
  'cdi': None,
  'mmi': None,
  'alert': None,
  'status': 'automatic',
  'tsunami': 0,
  'sig': 28,
  'net': 'ci',
  'code': '40237079',
  'ids': ',ci40237079,',
  'sources': ',ci,',
  'types': ',nearby-cities,origin,phase-data,scitech-link,',
  'nst': 35,
  'dmin': 0.05342,
  'rms': 0.23,
  'gap': 52,
  'magType': 'ml',
  'type': 'earthquake',
  'title': 'M 1.3 - 9km N of North Shore, CA'},
 'geometry': {'type': 'Point', 'coordinates': [-115.9553333, 33.6085, 5.49]},
 'id': 'ci40237079'}

In [31]:
def get_data(feature):
    return {
        'id': feature.get('id', None),
        'type': feature.get('type', None),
        'mag': feature.get('properties', {}).get('mag', None),
        'time': feature.get('properties', {}).get('time', None),
        'place': feature.get('properties', {}).get('place', None),
        'geometry_type': feature.get('geometry', {}).get('type', None),
        'longitude': feature.get('geometry', {}).get('coordinates', [None, None, None])[0],
        'latitude': feature.get('geometry', {}).get('coordinates', [None, None, None])[1],
        'depth': feature.get('geometry', {}).get('coordinates', [None, None, None])[2]
    }

In [32]:
data = [get_data(feature) for feature in features]
df = pd.DataFrame(data)

In [33]:
# import datetime
# date = datetime.datetime.fromtimestamp(1685389676384/1000)

In [34]:
df.head()

,id,type,mag,time,place,geometry_type,longitude,latitude,depth
0,pr71411703,Feature,2.30,1685390182540,"3 km SE of Boquerón, Puerto Rico",Point,-67.147333,18.000833,15.00
1,ci40237079,Feature,1.34,1685390010270,"9km N of North Shore, CA",Point,-115.955333,33.608500,5.49
2,nc73891425,Feature,2.35,1685389717440,"2km SSE of Yountville, CA",Point,-122.353165,38.384666,4.34
3,ak0236uqntv0,Feature,2.30,1685389571001,"17 km N of Sunrise, Alaska",Point,-149.436000,61.047200,23.30
4,ak0236uqkvvj,Feature,1.30,1685388758466,"31 km NW of Willow, Alaska",Point,-150.496700,61.930600,59.00

In [35]:
df = df.dropna()

In [36]:
df = df[(df.type=="Feature") & (df.geometry_type=="Point")]

In [37]:
df = df.drop(["type", "geometry_type"], axis=1)

In [38]:
df.head()

,id,mag,time,place,longitude,latitude,depth
0,pr71411703,2.30,1685390182540,"3 km SE of Boquerón, Puerto Rico",-67.147333,18.000833,15.00
1,ci40237079,1.34,1685390010270,"9km N of North Shore, CA",-115.955333,33.608500,5.49
2,nc73891425,2.35,1685389717440,"2km SSE of Yountville, CA",-122.353165,38.384666,4.34
3,ak0236uqntv0,2.30,1685389571001,"17 km N of Sunrise, Alaska",-149.436000,61.047200,23.30
4,ak0236uqkvvj,1.30,1685388758466,"31 km NW of Willow, Alaska",-150.496700,61.930600,59.00